@import url(https://fonts.google.com/share?selection.family=Raleway:ital,wght@0,100..900;1,100..900);
:root {
  /*Визначимо основні параметри сторінки*/
  --color-pink: rgba(255, 180, 163, 1);
  --color-pink-blur: rgba(255, 167, 147, 0.68);
  --color-body: rgba(255, 244, 223, 1);
  --color-red-button: rgba(199, 101, 72, 1);
  --color-red-text: rgba(197, 111, 84, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-black: rgba(0, 0, 0, 1);
  --font: "Raleway";
  --h2-font-size: 96px;
  --h3-font-size: 40px;
  --p-font-size: 32px;
  --margin-left: 150px;
}
