@import url("base.css");
main {
  width: 1500px;
  height: 4293px;
  position: absolute;
  background-color: var(--color-body);
  left: var(--margin-left);
  top: 250px;
  z-index: 5;
  overflow: hidden;
}
@media all and (max-width: 1300px) {
  body,
  main {
    width: 100%;
    left: 0;
    top: 0;
  }
  body {
    margin: 0px 0px 0px 0px;
  }
}
